.bg-body {
  background: rgb(108, 112, 111);
  background: linear-gradient(135deg, rgb(224, 226, 225) 0%, #acacac 100%);
  height: 100vh;
  color: #347286;
  position: relative;
}

.pd-body {
  padding-top: 2rem;
}

.btn-search {
  margin: 4rem;
  width: 18rem;
  font-weight: 900;
  font-family: 'Chau Philomene One';
  font-size: 1.8rem;
  border: 0.3rem dashed black;
}

header {
  background-color: #ffc107;
  height: 230px;
}

.mg-cards {
  margin: 1em auto;
}

#result-container .card {
  width: 80%;
}